<template>
  <div
    v-if="active"
    class="overlay"
    @click.stop="close"
  >
    <div class="slides-wrapper">
      <button
        class="button button--previous"
        :class="{ disabled: isInFirstImage }"
        @click.stop="previous"
      >
        ‹
      </button>
      <button
        class="button button--next"
        :class="{ disabled: isInLastImage }"
        @click.stop="next"
      >
        ›
      </button>
      <button
        class="button button--close"
        @click.stop="close"
      >
        &times;
      </button>
      <div class="current-image">
        <img
          :src="currentImage.src"
          @click.stop=""
        >
      </div>
    </div>
    <div class="caption">
      {{ currentImage.caption }}
    </div>
  </div>
</template>

<script>

export default {
  name: 'SimpleGallery',
  props: {
    active: {
      type: Boolean,
      default: false
    },
    images: {
      type: Array,
      required: true
    },
    index: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      currentIndex: 0
    }
  },
  computed: {
    currentImage () {
      return this.images[this.currentIndex]
    },
    isInLastImage () {
      return this.currentIndex === this.images.length - 1
    },
    isInFirstImage () {
      return this.currentIndex === 0
    }
  },
  watch: {
    active: {
      handler (active) {
        if (document === undefined) {
          return
        }

        if (active) {
          document.body.style.overflow = 'hidden'
        } else {
          document.body.style.overflow = 'auto'
        }
      }
    },
    index: {
      handler (index) {
        this.currentIndex = index
      }
    }
  },
  methods: {
    close () {
      this.$emit('update:active', false)
    },
    next () {
      if (!this.isInLastImage) {
        this.currentIndex++
      }
    },
    previous () {
      if (!this.isInFirstImage) {
        this.currentIndex--
      }
    }
  }
}
</script>

<style scoped>
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
    font-family: sans-serif;
  }

  .slides-wrapper {
    flex-grow: 1;
    position: relative;
  }

  .current-image {
    position: absolute;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
  }

  .current-image img {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    cursor: initial;
  }

  .button {
    background: none;
    color: rgba(255, 255, 255, .6);
    border: none;
    padding: 5px;
    height: 40px;
    width: 40px;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
  }

  .button:hover {
    color: #fff;
  }

  .button.disabled,
  .button.disabled:hover {
    color: rgba(255, 255, 255, .4);
    cursor: not-allowed;
  }

  .button--next,
  .button--previous {
    top: 50%;
    transform: translate(0, -50%);
  }

  .button--next {
    right: 10px;
  }

  .button--previous {
    left: 10px;
  }

  .button--close {
    top: 10px;
    right: 10px;
  }

  .caption {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
</style>
